Assignment_3/states.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="states">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="state" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="capital" type="xs:string"/>
              <xs:element name="districts" type="xs:integer"/>
              <xs:element name="population" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
